<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Buy - The Book Portal</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <style>
      #snav {
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">The Book Portal</a>
      <span id="welcome" style="color: white;"></span>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/logout'">Sign out</button>

        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="snav">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">
                  <span data-feather="search"></span>
                  Search
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addbook">
                  <span data-feather="plus-circle"></span>
                  Add a book
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/buybook">
                  <span data-feather="shopping-cart"></span>
                  Buy a book <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reqbook">
                  <span data-feather="info"></span>
                  Request book
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myprofile">
                  <span data-feather="user"></span>
                  My Profile
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Buy a book</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>
          <div name='errbook' style="display:none" id="errbook" class="alert alert-danger" role="alert">ISBN number not found in database ie., book is NOT currently available!</div>
          <div id="buyform">
            <form autocomplete="off">
              <div class="col-sm-3 mb-3 form-label-group">
                <label for="isbn">ISBN</label>
                <input type="number" class="form-control" name="isbn" id="isbn" placeholder="1234567890123">
                <div name='errisbn' style="display:none" id="errisbn" class="alert alert-danger" role="alert">ISBN should be of 10 or 13 digits!</div>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-secondary btn-sm btn-block" type="submit" value="submit" id="buybutton">Submit</button>
              </div>
            </form>
          </div>
          <hr class="mb-4">
          <div  id="binfo" style="display:none" class="col-sm-5 card card-body">
            <div>
            <div class="row">&emsp; <b>Owner</b>: <p id="aowner"></p></div>
            <div class="row">
              &emsp; <b>ISBN</b>: <p id="aisbn"></p> &emsp;&emsp; <b>Title</b>: <p id="atitle"></p>
            </div>
            <div class="row">
              &emsp; <b>Author</b>: <p id="aauthor"></p> &emsp;&emsp; <b>Genre</b>: <p id="agenre"></p>
            </div>
            <div class="row" style="color:red">&emsp; <b>Price</b>: <p id="aprice"></p>&nbsp;₹</div>
            <button type="button" class="btn btn-primary btn-sm col-sm-2" id="buyconfirm" onClick="buyb(bisbn);">Buy</button>
          </div>
          <div style="display:none" id="bought" class="alert alert-success" role="alert">Book bought!</div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
style="display: none"
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <script>
      var err=0;
      var bisbn;
      function sendb(data) {
        $.post("/api/getbook", data, function(resp, status){
          if(resp.data.status==1){
            $('#errbook').hide();
            if(resp.same){
              $('#aowner').html('You');
              $('#buyconfirm').hide();
            }
            else{
              $('#aowner').html('<a href="/profile/'+resp.data.owner+'" rel="noopener noreferrer" target="_blank">'+resp.data.owner+'</a>');
              $('#buyconfirm').show();
            }
            $('#aisbn').html(resp.data.isbn);
            $('#atitle').html(resp.data.title);
            $('#aauthor').html(resp.data.author);
            $('#agenre').html(resp.data.genre);
            $('#aprice').html(resp.data.price);
            $('#binfo').show();
          }
          else {
            $('#errbook').show();
            $('#binfo').hide();
          }
        });
        console.log('sent');
      }

      function buyb(isbn) {
        $.post("/api/buybook", {isbn: isbn}, function(resp, status){
          if(resp.status==1){
            $('#binfo').hide();
            $('#bought').show();
          }
        });
        console.log('bought');
      }

      $("#buybutton").click(function(e) {
        e.preventDefault();
        bisbn = $('#isbn').val();
        var data = {
                isbn: $('#isbn').val()
        };
        console.log(data.isbn.toString().length);
        if(((data.isbn.toString().length==10)||(data.isbn.toString().length==13))) $('#errisbn').hide();
        else {
          $('#errisbn').show();
          err++;
        }

        console.log(data);
        if(err==0) sendb(data);
        else err=0;
      });
    </script>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <hr>
      <p class="mb-1">&copy; 2019-2020 The Book portal</p>
    </footer>
  </body>
</html>
