<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Request - The Book Portal</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <style>
      #snav {
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard">The Book Portal</a>
      <span id="welcome" style="color: white;"></span>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/logout'">Sign out</button>

        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="snav">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">
                  <span data-feather="search"></span>
                  Search
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addbook">
                  <span data-feather="plus-circle"></span>
                  Add a book
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/buybook">
                  <span data-feather="shopping-cart"></span>
                  Buy a book
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reqbook">
                  <span data-feather="info"></span>
                  Request book <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myprofile">
                  <span data-feather="user"></span>
                  My Profile
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Request book</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>

          <div id="addform">
            <form autocomplete="off">
              <div class="row">
              <div class="col-sm-3 mb-3 form-label-group">
                <label for="title">Book Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Thomas Calculus" value="">
                <div name='errtitle' style="display:none" id="errtitle" class="alert alert-danger" role="alert">Book title cannot be empty!</div>
              </div>
              <div class="col-sm-3 mb-3 form-label-group">
                  <label for="author">Author</label>
                  <input type="text" class="form-control" name="author" id="author" placeholder="Thomas" value="">
                  <div name='errauthor' style="display:none" id="errauthor" class="alert alert-danger" role="alert">Book author cannot be empty!</div>
              </div>
              <div class="col-sm-3 mb-3 form-label-group">
                <label for="isbn">ISBN</label>
                <input type="number" class="form-control" name="isbn" id="isbn" placeholder="1234567890123">
                <div name='errisbn' style="display:none" id="errisbn" class="alert alert-danger" role="alert">ISBN should be of 10 or 13 digits!</div>
              </div>
              </div>
              <div name='errexists' style="display:none" id="errexists" class="alert alert-danger" role="alert">The book is already available in the market!</div>
              <div name='reqexists' style="display:none" id="reqexists" class="alert alert-danger" role="alert">You have already requested the book!</div>
              <div class="col-sm-1">
                <button class="btn btn-primary btn-sm btn-block" type="submit" value="submit" id="addreq">Submit</button>
              </div>
            </form>
          </div>
          <div style="display:none" id="added" class="alert alert-success" role="alert">Book request added!</div>
          <hr class="mb-4">
          <div id="infotable" class="table-responsive" style="display:none">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Date</th>
                  <th>ISBN</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="content">
              </tbody>
            </table>
            <div>
              <nav aria-label="Page navigation">
                <ul id="tpage" class="pagination pagination-sm justify-content-center" style="display:none">
                </ul>
              </nav>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>

    <script>
      var err=0;
      var rlist;
      var nlist;
      var tlimit=5; //Limit table results per page

      reloadTable();

      function sendb(data) {
        $.post("/api/reqbook", data, function(resp, status){
          if((resp.status==1)&&(resp.exists==0)){
            $('#errexists').hide();
            $('#reqexists').hide();
            $('#addform').hide();
            $('#added').show();
            reloadTable();
          }
          else if(resp.status==0) {
            $('#reqexists').hide();
            $('#errexists').show();
          }
          else{
            $('#reqexists').show();
            $('#errexists').hide();
          }
        });
        console.log('sent')
      }
      $("#addreq").click(function(e) {
        e.preventDefault();
        var data = {
                title: $('#title').val(),
                author: $("#author").val(),
                reqDate: Date(),
                isbn: $('#isbn').val()
        };

        if(data.title.length==0) {
          $('#errtitle').show();
          err++;
        }
        else $('#errtitle').hide();

        if(data.author.length==0) {
          $('#errauthor').show();
          err++;
        }
        else $('#errauthor').hide();

        if(((data.isbn.toString().length==10)||(data.isbn.toString().length==13))) $('#errisbn').hide();
        else {
          $('#errisbn').show();
          err++;
        }

        if(err==0) sendb(data);
        else err=0;
      });

      function reloadTable(){
        $.getJSON("api/getreqs", function(data) {
            var tablehtml="";
            var pagehtml="<li id='pg1' class='page-item active'><button class='page-link' onclick='changePage(1);'>1</button></li>";
            rlist=data.reqlist;
            nlist=data.reqlist.length;
            var currn = Math.min(tlimit,data.reqlist.length);
            if (data.reqlist.length!=0) {
              $('#infotable').show();
              for(book=0; book<currn; book++){
                tablehtml+="<tr>"+"<td>"+(new Date(data.reqlist[book].reqDate)).toString()+"</td>"+"<td>"+data.reqlist[book].isbn+"</td>"+"<td>"+data.reqlist[book].title+"</td>"+"<td>"+data.reqlist[book].author+"</td>"+"<td><button class='btn btn-danger btn-sm' onclick='remRequest("+data.reqlist[book].isbn+")'>Remove&nbsp;<span data-feather='trash-2'></span></button></td>"+"</tr>";
              }
              for(p=2; p<(Math.ceil(nlist/tlimit)+1); p++){
                pagehtml+="<li id='pg"+p+"' class='page-item'><button class='page-link' onclick='changePage("+p+");'>"+p+"</button></li>";
              }
              $('#content').html(tablehtml);
              $('#tpage').html(pagehtml);
              $('#tpage').show();
              feather.replace();
            }
            else {
              $('#content').html('');
              $('#infotable').hide();
              $('#tpage').html('');
              $('#tpage').hide();
            }
        });
      }

      function changePage(pno){
        var tablehtml="";
        for(p=1; p<(Math.ceil(nlist/tlimit)+1); p++){
          if(p==pno) $('#pg'+p).addClass('active');
          else $('#pg'+p).removeClass('active');
        }

        var blimit;
        if(pno==Math.ceil(nlist/tlimit)) blimit=nlist;
        else blimit=(tlimit*(pno-1))+tlimit;req

        for(book=(tlimit*(pno-1)); book<blimit; book++){
          tablehtml+="<tr>"+"<td>"+(new Date(rlist[book].reqDate)).toString()+"</td>"+"<td>"+rlist[book].isbn+"</td>"+"<td>"+rlist[book].title+"</td>"+"<td>"+rlist[book].author+"</td>"+"<td><button class='btn btn-danger btn-sm' onclick='remRequest("+rlist[book].isbn+")'>Remove&nbsp;<span data-feather='trash-2'></span></button></td>"+"</tr>";
        }
        $('#content').html(tablehtml);
        feather.replace();
      }

      function remRequest(isbn){
        $.post("/api/remreqs", {slist: [isbn]}, function(resp, status){
          reloadTable();
        });
      }
    </script>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <hr>
      <p class="mb-1">&copy; 2019-2020 The Book portal</p>
    </footer>
  </body>
</html>
