<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Book portal - Signup</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style media="screen">
    body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  </style>

</head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <h2>Signup form</h2>
        <p>Enter your details</p>
      </div>

      <div class="row">
        <div class="col">
        </div>
        <div class="col-8">
          <form autocomplete="off">
            <div class="row">
              <div class="col-md-6 mb-3 form-label-group">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="John" value="">
                <div name='errfirstName' style="display:none" id="err" class="alert alert-danger" role="alert"></div>
              </div>
              <div class="col-md-6 mb-3 form-label-group">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Wick" value="">
                <div name='errlastName' style="display:none" id="err" class="alert alert-danger" role="alert"></div>
              </div>
            </div>

            <div class="mb-3 form-label-group">
              <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                <div name='errusername' style="display:none" id="err" class="alert alert-danger" role="alert"></div>
            </div>

            <div class="mb-3 form-label-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
              <div name='erremail' style="display:none" id="err" class="alert alert-danger" role="alert"></div>
            </div>

            <div class="mb-3 form-label-group">
              <label for="address">Phone number</label>
              <input type="text" class="form-control" name="phone" id="phone" placeholder="1234567890">
              <div name='erraddress' style="display:none" id="err" class="alert alert-danger" role="alert"></div>
            </div>
            <div class="mb-3 form-label-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" name="password" id="password" placeholder="">
              <div name='errpassword' style="display:none" id="err" class="alert alert-danger" role="alert"></div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-sm btn-block" type="submit" value="submit" id="signup">Sign up</button>
          </form>
        </div>
        <div class="col">
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019-2020 The Book portal</p>
      </footer>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script>
      var socket = io("http://localhost:3000/");
      var errs=[];

      $("#signup").click(function(e) {
        e.preventDefault();
        var data = {
                username: $('#username').val(),
                password: $("#password").val(),
                firstName: $('#firstName').val(),
                lastName: $('#lastName').val(),
                email: $('#email').val(),
                phone: $('#phone').val()
        };
        var promise = new Promise(function(resolve,reject){
          for (var i = 0; i < errs.length; i++) {
            $('#err'+errs.loc).html('');
            $('#err'+errs.loc).hide();
          }
          //console.log('promise inside');
          socket.emit('checkuname', data.username);
          resolve('success');
        });
        promise.then(function(value){
          //console.log('promise then');
          if(errs.length==0) {
            socket.emit('adduser', data);
            window.location.href = '/login';
          }
          else{
            for (var i = 0; i < errs.length; i++) {
              $('#err'+errs.loc).show();
              $('#err'+errs.loc).append('<li>'+errs.m[i]+'</li>');
            }
          }
        });
      });
      socket.on('unameresponse',function(result){
        if(result){
          console.log('uname exists : '+result);
          var uerr={loc : 'username', m : 'Username already taken'};
          errs.push(uerr);
        }
      });


    </script>

  </body>
</html>
