<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>  Profile  - The Book Portal</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <style>
      #snav {
      height: 100%;
      position: fixed;
      z-index: 1;
      top: 10;
      left: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    </style>

  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">The Book Portal</a>
      <span id="welcome" style="color: white;">-</span>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/logout'">Sign out</button>

        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" id="snav">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">
                  <span data-feather="search"></span>
                  Search
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addbook">
                  <span data-feather="plus-circle"></span>
                  Add a book
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/buybook">
                  <span data-feather="shopping-cart"></span>
                  Buy a book
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reqbook">
                  <span data-feather="info"></span>
                  Request book
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myprofile">
                  <span data-feather="user"></span>
                  My Profile
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Profile</h1>
          </div>
            <h1 id="notfound" align='center' style="display:none">User not found</h1>
          <div id="infocard" class="card bg-secondary text-light">
            <h3 id="uname" class="card-header"></h3>
            </br>
            <div class="row card-block">
              <div class="col-9 card-body card-text">
                <p id="cuname"></p>
                <p id="ccontact"></p>
                <p id="cbooks"></p>
              </div>
              <div class="col-3 card-body" style="text-align: center;">
                <img src="../dp.png" alt="Profile" class="img-thumbnail mx-auto d-block" style="width:auto;height:150px;">
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <script>
      var userinfo;

      document.addEventListener("DOMContentLoaded", function () {
        console.log(document.getElementsByTagName('a')[0].pathname.replace('/profile/',''));
        $.post("/api/profile", {uname: document.getElementsByTagName('a')[0].pathname.replace('/profile/','')}, function(data,status) {
            // Make sure the data contains the username as expected before using it
            if(data.user == null){
              $('#infocard').hide();
              $('#notfound').show();
            }
            else if(data.same) window.location = '/myprofile';
            else if (data.hasOwnProperty('user')) {
              $('#uname').html('&nbsp;&nbsp;'+data.user.firstName+' '+data.user.lastName);
              $('#cuname').html('<strong>&ensp;&nbsp;Username: </strong>'+data.user.username);
              $('#ccontact').html('<strong>&ensp;&nbsp;Email ID: </strong>'+data.user.email+'<strong>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Phone No.: </strong>'+data.user.phone);
              $('#cbooks').html('<strong>&ensp;&nbsp;Added books in market: </strong>'+data.info.avbooks+'<strong>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Sold books: </strong>'+data.info.sbooks+'<strong>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;Books requested: </strong>'+data.info.reqbooks);
              userinfo = data.user;
            }
        });
      });

    </script>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <hr>
      <p class="mb-1">&copy; 2019-2020 The Book portal</p>
    </footer>
  </body>
</html>
